:root{
  --colorInput1: rgba(243, 22, 22, 0.541);
  --colorInput2: rgb(0, 140, 255);
}


body{
  background: rgb(255,192,193);
  background: linear-gradient(90deg, rgba(255,192,193,1) 0%, rgba(131,170,229,1) 100%);
}

a{
  text-decoration: none;
  color: white;
}

.contenedor{
  font-size: 1.875rem;
  display: flex;
  align-items: center;
  justify-content:space-around;

}

.contenedor a{
  color: black;
}

/* currency */
.form{
  margin-top: 20px;
  width: 25rem;
  height: 37.5rem;
  border-radius: 0.625rem;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.form__menu{
  height: 20px;
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content:space-between;
  color: white;
}

.form__title{
  font-size: 1.25rem;
}

.form__title a{
  color: white;
}

.bi-list{
  font-size: 3.125rem;
  cursor: pointer;

}

.form__selectMenu{
  display: flex;
  align-items: center;
  justify-content:center;
  margin: 30px;
}

.form__selectMenu i{
  cursor: pointer;
  margin-top: 1.125rem;
  color: white;
}

.form__select{
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  border:0!important;
  cursor:pointer;
  font-size: 1.5625rem;
  background: none;
  color: white;
  font-weight:lighter;
}

.form__form{
  padding: 40px;
  height: 66px;
  color: white;
  display: flex;
  align-items: center;
  justify-content:center;
}

.form__form2{
  height: 12.5rem;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  color: var(--colorInput1);
}

.form__input{
  -webkit-appearance:none;
  -moz-appearance:none;
  -ms-appearance:none;
  appearance:none;
  outline:0;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: white;
  cursor:pointer;
  font-size: 50px;
  background: none;
  color: white;
  font-weight:lighter;
  width: 50%;
  margin-right: 100px;
}

.form__input2{
  color: var(--colorInput1);
  border-color: var(--colorInput1);
}

.form__input3{
  color: var(--colorInput2);
  border-color: var(--colorInput2);
}

.form__select2{
  font-weight:bold;
}
.form__select3{
  color: var(--colorInput1);
}

.form__select4{
  color: var(--colorInput2);
}

/* Length */
.form__Lenght{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.6054796918767507) 0%, rgba(0,212,255,1) 100%);
}

.form__form3{
  color: var(--colorInput2);
}