body{
    background: rgb(255,192,193);
    background: linear-gradient(90deg, rgba(255,192,193,1) 0%, rgba(131,170,229,1) 100%);
  }
  
  a{
    text-decoration: none;
    color: white;
  }
  .conteiner {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content:space-around;

  }

  .conteiner a {
    color: black;
  }
  .padre{
    margin: auto;
    margin-top: 40px;
    background-color: white;
    width: 400px;
    height: 600px;
    border-radius: 10px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  }
  
  .hijoUno{
    padding: 10px;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
    color: white;
    display: flex;
    align-items: center;
    justify-content:center;
  }
  .menu{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content:space-between;
  }
  .title{
    font-size: 20px;
  }
  .bi-list{
    font-size: 50px;
    cursor: pointer;
  
  }
  
  select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    border:0!important;
    cursor:pointer;
    font-size: 25px;
    background: none;
    color: white;
    font-weight: lighter;
    padding: 10px;
  }
  .select {
    box-shadow: 0 0 10px -1px black;
    width: 160px;
    margin: auto;
    border-radius: 10px;
    opacity: 0.8;
  }

  .select:hover {
    opacity: 1;
  }

  .select select::ms-expand{
    display: none;
  }
  
  /* .select select:focus{
    outline: none;
    box-shadow: 0 0 10px -1px black;
  } */

  .select i{
    cursor: pointer;
    margin-top: 18px;
    color: white;
  }
  
  .form{
    display: flex;
    align-items: center;
    justify-content:space-between;
  }
  
  .hijoUno input {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    border:0!important;
    cursor:pointer;
    font-size: 20px;
    background: none;
    color: white;
    font-weight: lighter;
  }
  
  /* .choice{
    float:right;
    padding: 10px;
  } */
  
  .bi-arrow-down-up{
    font-size: 30px;
  }
  
  .hijoDos{
    padding: 10px;
    height: 295px;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
  }
  
  .hijoDos input {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    border:0!important;
    cursor:pointer;
    font-size: 20px;
    background: none;
    color: black;
    font-weight: lighter;
  }
  
  .hijoDos select {
    color: black;
  }